run = "npm run dev"
modules = ["nodejs-20"]
hidden = [".config", "tsconfig.json", "tsconfig.node.json", "vite.config.js", ".gitignore"]
entrypoint = "src/App.tsx"

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Start Admin"

[[workflows.workflow]]
name = "API Server"
author = 40103754

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "ts-node src/api/startServer.ts"

[[workflows.workflow]]
name = "Start Admin"
author = 40103754

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
